
/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (min-width: 1220px){
  




}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

  

  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
    
}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){

	
  





}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

  	

}

