
/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (min-width: 1220px){
  




}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

  
	.__map {
    width: 100%;
    height: 425px;
	}
  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
    
}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){

	.__new {
	    margin-top: 10%;
	}
	
  	.__new p:nth-child(1) {
    line-height: 0.9;
	}

	.__walletcard {
    padding: 18px;
	}

	.__map {
    width: 100%;
    height: 425px;
	}





}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

  	.__new {
    margin-top: 5%;
	}

	.__new p:nth-child(1) {
    font-size: 26px;
	}

	.__walletcard {
    margin-top: 6%;
	}

  	.__map {
    width: 100%;
    height: 300px;
	}

}

